# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of some popular languages for data science.
- Some of commonly used libraries used by data Scientists.
- Data science tools.
- Evaluating arithmetic expressions in Python.

##### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. Scala
    4. Java

 ##### Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib

| Data Science Tools|
| ----------------- |
| Jupyter Notebooks |
| RStudio |
| Spyder |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

4*7
32-14
(24*7)+13

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Asma